*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nombrelogo {
    padding-right: 10px;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: black;
}

.header { 
    display: flex;
    height: 70px;
    justify-content: space-between;
    background-color:rgba(127, 255, 212, 0.247);
    align-items: center;
}

.buscador:hover {
    color: orange;
}
.logoprincipal {
    display: flex;
    align-items: center;
}

.yogalogo {
    height: 50px;
    margin-right: 10px;

}

.linkprincipal{
    padding-right: 10px;
    font-weight: 600;
}

.imagendeyoga {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 65vh;
    background-image: url(/Imagenes/yogaimagen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.h2 {
    text-align: center;
    margin: 10px;
    font-weight: bold;
    font-size: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    text-decoration: underline;
    color: white;
}


main a {
    font-size: 40px;
    padding: 10px;
    text-align: center;
    height: 40px;
    display: block;
    text-decoration: underline;
}

article h3 {
    background-color:rgba(127, 255, 212, 0.247);
    font-size: 25px;
    font-style: italic;
    text-align: center;
    margin-top: 60px;
}

article p{ 
    font-size: 20px;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
table {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.horarios {
    text-align: center;
    margin: 30px;
    font-weight: bold;
    font-size: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    text-decoration: underline;
    }
.taller { 
    text-align: center;
    margin: 30px;
    font-weight: bold;
    font-size: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    text-decoration: underline;
}
.taller2 {
    display: inline-block;
    position: relative;
    left: 750px;
    margin: 10px;
    padding: 10px;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: solid 5px #2893eb;
}
.ansiedadimg {
    position: absolute;
    top: 80px;
    left: 100px;
    width: 300px;
    height: 300px;
}
.ansiedad2 {
    position: absolute;
    top: 80px;
    right: 100px;
    width: 300px;
    height: 300px;
}
.listataller{
    display: block;
    background-color: rgba(127, 255, 212, 0.247);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 60px;
    font-size: 90px;
}
.lista1 {
    font-size: 35px;
    margin: 40px;
    margin-left: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(127, 255, 212, 0.247);
}
.dias {
    display: inline-block;
    background-color: rgba(127, 255, 212, 0.247);
    font-size: 30px;
    margin-left: 60px;
}

.horariotaller {
    font-size: 30px;
    position: relative;
    bottom: 30px;
    left: 25%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-collapse: collapse;
    width: 50%;
}
.quienessomos {
    text-align: center;
    margin: 30px;
    font-weight: bold;
    font-size: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    text-decoration: underline;
    
}

.persona1 {
    margin-top: 40px;
    position: relative;
    width: 400px;
    border: solid 2px #000000;
}

.parrafo1 {
    position: absolute;
    left: 25%;
    top: 270px;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.persona2 {
    margin-top: 65px;
    position: relative;
    width: 400px;
    height: 500px;
    border: solid 2px #000000;
    bottom: 50px;
}

.parrafo2{
    position: absolute;
    left: 25%;
    bottom: 1%;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.imagenregistro {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    left: 42%;
}

.tituloregistro {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin: 25px;
}

.formulario {
    display: inline-block;
    padding: 10px;
    position: relative;
    left: 33%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

