*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1900px;
    min-width: 768px;
    margin: auto;
}

.nombrelogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    padding-right: 10px;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: black;
}

.header { 
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.buscador:hover {
    color: orange;
}

.logoprincipal {
    display: flex;
    align-items: center;
}

.yogalogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    margin-right: 10px;
}

.linkprincipal{
    padding-right: 10px;
    font-weight: 600;
}

.imagendeyoga {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 65vh;
    background-image: url(../Imagenes/yogaimagen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.h2 {
    text-align: center;
    margin: 10px;
    font-weight: bold;
    font-size: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

main a:hover{
    color: orange;
}

main a {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    text-decoration: underline;
}

article h3 {
    background-color:rgba(99, 76, 2, 0.219);
    font-size: 25px;
    font-style: italic;
    text-align: center;
    margin-top: 60px;
}

article p{ 
    font-size: 20px;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
table {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.horarios {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    font-weight: bold;
    font-size: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: underline;
    color: black;
}
    
.taller { 
    text-align: center;
    margin: 30px;
    font-weight: bold;
    font-size: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: underline;
}
.imagenansiedad {
    background-image: url(../Imagenes/ansiedad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.listataller{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 60px;
    font-weight: bold;
    font-size: 90px;
    color: black;
}
.lista1 {
    font-size: 35px;
    margin: 30px;
    padding: 20px;
    margin-left: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    color: black
}
.dias {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: rgba(99, 76, 2, 0.219);
    font-size: 30px;
    margin-left: 60px;
}

.horariotaller {
    padding: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-collapse: collapse;
}
.quienessomos {
    text-align: center;
    margin: 30px;
    font-weight: bold;
    font-size: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    text-decoration: underline;
    
}

.persona1 {
    margin-top: 40px;
    position: relative;
    width: 400px;
    border: solid 2px #000000;
}

.parrafo1 {
    position: absolute;
    left: 25%;
    top: 270px;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.persona2 {
    margin-top: 65px;
    position: relative;
    width: 400px;
    height: 500px;
    border: solid 2px #000000;
    bottom: 50px;
}

.parrafo2{
    position: absolute;
    left: 25%;
    bottom: 1%;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.imagenregistro {
    padding: 1em;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.tituloregistro {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin: 25px;
}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    height: 220px;
    color: rgb(100,100,100);
    margin: 0;
    padding: 12px;

}

