 
  .horarios {
    @include flex(center, center);
    text-align: center;
    margin: 10px;
    font-weight: bold;
    font-size: 50px;
    font-family: $fuente-principal;
    text-decoration: underline;
    color: $color-letra-principal;
  }
  
  .tabla {
    overflow: scroll;
  }
  
  table {
    font-family: $fuente-principal;
    border-collapse: collapse;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .footer {
    @include flex(center, flex-end);
    text-align: center;
    @include width(none, 220px);
    color: rgb(100,100,100);
    margin: 0;
    padding: 12px;
  }

@media (min-width: 770px){ 

  table {
   @include width(100%, none);
  }

  .horarios {
    margin: 15px;
    font-size: 80px;
  }

  .footer {
    @include width(none, 220px);
    color: rgb(100,100,100);
    margin: 0;
    padding: 12px;
  }

.container {
    max-width: 1900px;
    margin: auto;
  }
} 